body {
	margin: 0px auto;
	padding: 0px;
}

.nav {
	display: flex;
}
.nav__menu-left,
.nav__menu-right,
.nav__menu-center {
	display: flex;
	gap: 10px;
}
.nav__list {
	display: flex;
	margin: 0px;
	list-style-type: none;
	padding: 0px;
}
.nav__button {
	display: flex;
	width: 40px;
	height: 40px;
	background-color: #ff3e79;
	border: none;
	border-radius: 50px;
	background-position: center;
}
.nav__list_display-burger {
	background-image: url(/IMG2/1.svg);
	background-repeat: no-repeat;
}

.nav__list_display-divider {
	background-image: url(/IMG2/2.svg);
	background-repeat: no-repeat;
	background-color: white;
}
.nav__list_display-call {
	background-image: url(/IMG2/4.svg);
	background-repeat: no-repeat;
}
.nav__list_display-message {
	background-image: url(/IMG2/5.svg);
	background-repeat: no-repeat;
}
.nav__list_display-contact {
	background-image: url(/IMG2/6.svg);
	background-repeat: no-repeat;
}
.nav__list_display-dividerr {
	background-image: url(/IMG2/2.svg);
	background-repeat: no-repeat;
	background-color: white;
}
.nav__list_display-settings {
	background-image: url(/IMG2/7.svg);
	background-repeat: no-repeat;
}
.nav__list_display-search {
	background-image: url(/IMG2/8.svg);
	background-repeat: no-repeat;
}
